{% extends 'base.html.twig' %}



{% block body %}
<h1>Bienvenue sur Geemja</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non dui imperdiet, 
    ullamcorper leo quis, venenatis dolor. Ut vitae quam ac lectus rhoncus interdum a eu sem. 
    Etiam et tempus nisl, et dapibus risus. Pellentesque sed mattis mauris. Praesent dui diam, 
    pellentesque et nulla ut, volutpat vestibulum diam. Pellentesque aliquet commodo lacus. 
    Curabitur erat erat, luctus eu sodales efficitur, pellentesque sed odio. Donec lobortis 
    dictum metus nec interdum. Phasellus sit amet ex turpis.</p>

{% endblock %}
